body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin: 20px;
}

#chessboard {
  width: 400px;
  margin: 20px auto;
}

#gamePGN {
  padding-left: 300px;
  padding-right: 300px;
  margin: 20px;
}
